.DS_Store
jdresources
.jekyll-cache/
## Content from .ignore
local.mk
target.mk
.*.sw*
make.log

## content from makestuff
local.mk
makestuff
_site/
commit.time
commit.default
dotdir/
clonedir/
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
